@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:wght@600;700;800&display=swap");

$poppins: "Poppins", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$primary: #0a2640;

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $poppins;
}

header {
  background-image: url("../assets/background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 1rem 6rem;
  nav {
    @include flex;
    div {
      img {
        width: 60%;
        cursor: pointer;
      }
    }
    div {
      @include flex;
      gap: 3rem;
      font-size: 0.8rem;
      a {
        color: $primary;
        &:hover {
          color: rgb(66, 66, 248);
        }
      }
    }
  }
}
